---
layout: default
---

<section>
	<!-- tagArr 배열 선언 및 값 할당 -->
	{% for post in site.posts %}
		{% for tag in post.tags %}
			{% assign tagArr = tagArr | append:tag | append:',' %}
		{% endfor %}
	{% endfor %}

	<!-- tagArr 중복 제거하여 실제 배열형식으로 분할 -->
	{% assign tagArr = tagArr | split:"," | uniq | sort %}

	<!-- 실제 tag 목록 -->
	![tag](./assets/icon_tag.png)
	{% for tag in tagArr %}
	    <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
	{% endfor %}
	
	<hr>
	
	{% for post in site.posts %}
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

		<ul {% if post.tags %}
			{% for tag in post.tags %}
				data-{{ tag }}
			{% endfor %}
		{% endif %}
			>
			<li>
				<div class="post-date code">
					<span>{{ post.date | date: "%m/%d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}



	
</section>
